global_defs {
    router_id {{ ansible_hostname }}
}
vrrp_script haproxy {
    script "killall -0 haproxy"
    interval 2
    weight 2
}
vrrp_instance 50 {
    virtual_router_id 50
    advert_int 1
    priority 50
{% if inventory_hostname == groups['loadbalancer'][0] %}
    state MASTER
{% else %}
    state BACKUP
{% endif %}
    interface {{ keepalived_interface }}
    virtual_ipaddress {
        {{ keepalived_vip_address }}
    }
    track_script {
        haproxy
    }
}