minio_count = 3
proxy_count = 1
minio_domain_name = "minio"
proxy_domain_name = "minio-proxy"
cloud_init_username = "user"
cloud_init_password = "user"
cloud_init_sshkey = "~/.ssh/id_rsa.pub"
cloud_init_nameserver = "192.168.1.254"
cloud_init_search_domain = "domain.local"
cloud_init_netmask = "255.255.255.0"
cloud_init_gateway = "192.168.1.254"
# The node ips will 192.168.1.[45,46,47] because minio_count is 3 "node_ip_range" is only the pre ip
node_ip_range = "192.168.1.4" 
ssh_private_key_path = "~/.ssh/id_rsa"
base_root_volume_path = "/mnt/vm-image/openSUSE-Leap-15.4-JeOS.x86_64-OpenStack-Cloud.qcow2"
root_volume_pool = "ssd-1"
swap_volume_pool = "nvme-1"
data_volume_pool = "hdd-3"
minio_data_path = "/mnt/data"